<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.payshare.payshareapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="Payshare"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity_card_sala_pagamento"
            android:label="@string/title_activity_card_sala_pagamento"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity_card_extrato" />
        <activity android:name=".MercadoPagoCheckout" />
        <activity
            android:name=".BottomBarActivity"
            android:windowSoftInputMode="adjustPan|stateVisible"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".CadastroActivity"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name=".SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>